[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]

[project]
name = "emohawk"
description = "A format-agnostic Python interface for geospatial data"
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering"
]
dynamic = ["version"]
dependencies = [
    "cgul",
    "numpy",
    "xarray"
]

[tool.coverage.run]
branch = true

[tool.mypy]
strict = false
ignore_missing_imports = true

[tool.ruff]
# Black line length is 88, but black does not format comments.
line-length = 110
select = [
  # pyflakes
  "F",
  # pycodestyle
  "E",
  "W",
  # isort
  "I",
  # pydocstyle
  "D",
]
ignore = [
  # pydocstyle: Missing Docstrings
  "D1",
  # pydocstyle: numpy convention
  "D107",
  "D203",
  "D212",
  "D213",
  "D402",
  "D413",
  "D415",
  "D416",
  "D417",
  # pydocstyle: custom
  "D200",
  "D205",
  "D400",
]

[tool.setuptools]
packages = ["emohawk"]

[tool.setuptools_scm]
write_to = "emohawk/version.py"
write_to_template = '''
# Do not change! Do not track in version control!
__version__ = "{version}"
'''
