array_api_compat
cdsapi
cfgrib>=0.9.10.1
eccodes>=1.7.0
ecmwf-api-client>=1.6.1
ecmwf-opendata>=0.3.3
polytope-client>=0.7.4
dask
entrypoints
filelock
hda
jinja2
markdown
multiurl
netcdf4
pdbufr>=0.11.0
pyfdb
pyodc
pyyaml
torch
tqdm>=4.63.0
xarray>=0.19.0
earthkit-meteo>=0.0.1
earthkit-geo>=0.2.0
git+https://github.com/ecmwf/earthkit-data-demo-source
geopandas
cartopy
eccovjson>=0.0.5
jsonschema
# for testing
pytest
pytest-cov
pytest-forked
pytest-timeout
nbformat
nbconvert
ipykernel
