# These are the requirements for readthedocs
ipykernel
docutils
Pygments>=2.6.1
Sphinx>=7.3.7
sphinx-rtd-theme
nbsphinx
setuptools
sphinx-autoapi
sphinx-issues
sphinx-tabs
sphinx-copybutton
entrypoints
pandas
tqdm
xarray
filelock
